apiVersion: v1
kind: Service
metadata:
  name: ${component.korral.name}
  namespace: ${component.korral.namespace}
  labels:
    provider: agilestacks.com
    project: korral
    kubernetes.io/name: korral
    kubernetes.io/cluster-service: "true"
spec:
  ports:
  - name: http
    port: ${component.korral.port}
    targetPort: 9797
    protocol: TCP
  selector:
    provider: agilestacks.com
    project: korral
    qualifier: exporter
